<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationProject">
    <test name="Vicarius Testing">
        <classes>
            <class name="testCases.LoginPageTest"></class>
            <class name="testCases.SingUpPageTest"></class>
            <class name="testCases.SignInPageTest"/>
            <class name="testCases.productPageTest"/>
        </classes>
    </test>
</suite>